<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bom_category.name %>
</p>

<%= link_to 'Edit', edit_bom_category_path(@bom_category) %> |
<%= link_to 'Back', bom_categories_path %>
